@import "tailwindcss";

:root {
  --primary: #253237;
  --secondary: #5c6b73;
  --accent: #9db4c0;
  --background: #c2dfe3;
  --light: #e0fbfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light);
  color: var(--primary);
  font-family: Inter, sans-serif;
}